@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

body {
    font-family: 'Spectral';
    justify-content: center;
    text-align: center;
    max-width: 65%;
    margin: auto;
}

nav {
    position: absolute;
    left: 22%;
    top: 2em;
    justify-content: center;
    color: rgba(1, 1, 1, 0);
    transition: all 0.5s;
}

a {
    color: rgba(1, 1, 1, 0);
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    transition: all 0.2s;
}

a:hover {
    margin: 0px 15px 0px 15px;
    color: #8b0000 !important;
    opacity: 0.5;

}

/* SPLASH */
.splash-container {
    /* position: absolute; */
    /* margin: 25% auto 0 auto !important; */
}

.splash {
    /* margin: 12% auto 0 auto !important; */
    margin: auto;
    color: rgba(1, 1, 1, 0);
    transition: all 0.5s;
}

.splash-name {
    color: rgba(1, 1, 1, 0);
    transition: all 0.5s;
}

.splash-title {
    color: rgba(1, 1, 1, 0);
    font-size: 5em;
    transition: all 0.5s;
}

.splash-class {
    color: rgba(1, 1, 1, 0);
    transition: all 0.5s;
}

.hamilton {
    position: absolute;
    z-index: -10;
    height: 60vh;
    bottom: 0;
    left: 1em;
    opacity: 0;
    transition: all 0.75s;
}

.hamilton:hover {
    opacity: 0.5;
}

.lafayette:hover {
    opacity: 0.75;
}

.lafayette {
    position: absolute;
    z-index: -10;
    height: 80vh;
    top: 0;
    right: 0em;
    opacity: 0;
    transition: all 0.75s;
}

.fadeImg {
    opacity: 0.25;
}

/* ANIMATIONS */
.fadeIn {
    color: rgba(1, 1, 1, 1) !important;
}